<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449122016531-6as8k7miq52qc7f6ucpd5npitgq6ubij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449122016531-6as8k7miq52qc7f6ucpd5npitgq6ubij</string>
	<key>API_KEY</key>
	<string>AIzaSyA0jR-GnhphnR86bVmxLr-DeWCA6TZYZFM</string>
	<key>GCM_SENDER_ID</key>
	<string>449122016531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anz.com.DreamDiary</string>
	<key>PROJECT_ID</key>
	<string>dreamdiary-78dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamdiary-78dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449122016531:ios:6cb7d81d2ff6e66167cee6</string>
	<key>DATABASE_URL</key>
	<string>https://dreamdiary-78dfc.firebaseio.com</string>
</dict>
</plist>